In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
df_tmp = pd.read_html('https://global.espn.com/nba/standings/_/group/league', encoding='big5')

In [31]:
len(df_tmp)

2

In [32]:
df0 = df_tmp[0]

In [33]:
df0.head()

                       0
0      BOSBoston Celtics
1  LALLos Angeles Lakers
2      DENDenver Nuggets
3     TORToronto Raptors
4     MILMilwaukee Bucks

In [34]:
df1 = df_tmp[1]

In [35]:
df1.head()

   W  L    PCT   GB HOME AWAY  DIV CONF    PPG  OPP PPG  DIFF STRK  L10
0  7  1  0.875    -  3-0  4-1  3-1  6-1  113.1    103.8   9.3   W7  7-1
1  7  2  0.778  0.5  4-1  3-1  0-1  4-1  108.4    100.1   8.3   L1  7-2
2  7  2  0.778  0.5  3-1  4-1  2-0  4-2  103.3    100.3   3.0   W4  7-2
3  7  2  0.778  0.5  4-0  3-2  0-1  3-2  115.2    107.7   7.5   W3  7-2
4  7  3  0.700    1  2-1  5-2  1-0  3-2  119.9    111.8   8.1   W1  7-3

In [39]:
df2 = pd.concat([df0, df1], axis=1)

In [43]:
df2

,0,W,L,PCT,GB,HOME,AWAY,DIV,CONF,PPG,OPP PPG,DIFF,STRK,L10
0,BOSBoston Celtics,7,1,0.875,-,3-0,4-1,3-1,6-1,113.1,103.8,9.3,W7,7-1
1,LALLos Angeles Lakers,7,2,0.778,0.5,4-1,3-1,0-1,4-1,108.4,100.1,8.3,L1,7-2
2,DENDenver Nuggets,7,2,0.778,0.5,3-1,4-1,2-0,4-2,103.3,100.3,3.0,W4,7-2
3,TORToronto Raptors,7,2,0.778,0.5,4-0,3-2,0-1,3-2,115.2,107.7,7.5,W3,7-2
4,MILMilwaukee Bucks,7,3,0.700,1,2-1,5-2,1-0,3-2,119.9,111.8,8.1,W1,7-3
5,HOUHouston Rockets,6,3,0.667,1.5,3-1,3-2,2-0,4-0,120.1,118.7,1.4,W3,6-3
6,MIAMiami Heat,6,3,0.667,1.5,3-0,3-3,2-0,3-0,111.1,105.4,5.7,L1,6-3
7,UTAHUtah Jazz,6,3,0.667,1.5,5-0,1-3,1-0,4-3,101.0,97.0,4.0,W2,6-3
8,PHIPhiladelphia 76ers,6,3,0.667,1.5,3-0,3-3,1-0,4-0,111.0,106.2,4.8,W1,6-3
9,PHXPhoenix Suns,6,3,0.667,1.5,4-2,2-1,3-0,4-2,116.8,109.0,7.8,W1,6-3
10,LACLA Clippers,6,3,0.667,1.5,5-1,1-2,2-1,5-2,113.4,109.0,4.4,W1,6-3
11,DALDallas Mavericks,6,3,0.667,1.5,2-3,4-0,2-0,3-2,116.3,111.9,4.4,W1,6-3
12,INDIndiana Pacers,6,4,0.600,2,4-1,2-3,3-3,6-4,109.3,105.9,3.4,W3,6-4
13,SASan Antonio Spurs,5,4,0.556,2.5,4-2,1-2,0-0,3-2,112.6,112.7,-0.1,L1,5-4
14,MINMinnesota Timberwolves,5,4,0.556,2.5,2-2,3-2,0-1,1-2,115.6,116.7,-1.1,L1,5-4
15,CLECleveland Cavaliers,4,5,0.444,3.5,2-2,2-3,2-2,4-4,107.1,108.0,-0.9,W2,4-5
16,BKNBrooklyn Nets,4,5,0.444,3.5,3-2,1-3,1-0,1-2,119.8,121.7,-1.9,L1,4-5
17,CHACharlotte Hornets,4,6,0.400,4,2-3,2-3,0-0,2-2,105.8,113.2,-7.4,L3,4-6
18,DETDetroit Pistons,4,6,0.400,4,3-2,1-4,2-2,4-6,108.5,111.3,-2.8,L1,4-6
19,PORPortland Trail Blazers,4,6,0.400,4,1-3,3-3,1-1,3-4,114.1,114.6,-0.5,W1,4-6
20,OKCOklahoma City Thunder,4,6,0.400,4,4-3,0-3,0-2,3-4,107.3,105.5,1.8,L1,4-6
21,ATLAtlanta Hawks,3,6,0.333,4.5,2-4,1-2,1-2,2-4,104.4,108.9,-4.5,L3,3-6
22,SACSacramento Kings,3,6,0.333,4.5,1-3,2-3,0-1,1-4,105.4,111.6,-6.2,W1,3-6
23,ORLOrlando Magic,3,7,0.300,5,3-3,0-4,0-1,2-4,98.1,99.3,-1.2,L1,3-7
24,CHIChicago Bulls,3,7,0.300,5,1-3,2-4,1-2,2-5,105.4,110.0,-4.6,L1,3-7
25,WSHWashington Wizards,2,6,0.250,5,1-3,1-3,0-0,1-2,113.4,117.5,-4.1,L2,2-6
26,NONew Orleans Pelicans,2,7,0.222,5.5,1-3,1-4,0-2,1-4,117.1,122.4,-5.3,W1,2-7
27,MEMMemphis Grizzlies,2,7,0.222,5.5,2-4,0-3,0-2,1-4,108.7,120.1,-11.4,L2,2-7
28,GSGolden State Warriors,2,8,0.200,6,1-4,1-4,0-2,2-7,112.1,121.1,-9.0,L3,2-8
29,NYNew York Knicks,2,8,0.200,6,1-3,1-5,0-3,1-6,99.2,109.3,-10.1,L1,2-8

In [44]:
df2.describe()

               W          L        PCT         PPG     OPP PPG       DIFF
count  30.000000  30.000000  30.000000   30.000000   30.000000  30.000000
mean    4.633333   4.633333   0.504600  110.450000  110.356667   0.093333
std     1.771096   1.991072   0.203627    6.005156    6.793388   5.817568
min     2.000000   1.000000   0.200000   98.100000   97.000000 -11.400000
25%     3.000000   3.000000   0.333000  106.125000  105.975000  -4.400000
50%     4.500000   4.500000   0.500000  111.050000  109.650000  -0.300000
75%     6.000000   6.000000   0.667000  114.925000  114.250000   4.400000
max     7.000000   8.000000   0.875000  120.100000  122.400000   9.300000